<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.catteranddogger">

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="Animals_Imout"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CatterAndDogger">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.catteranddogger.MyProfile"
            android:parentActivityName="com.example.catteranddogger.MainActivity"/>
        <activity android:name="com.example.catteranddogger.ListAnimalActivity"
            android:parentActivityName="com.example.catteranddogger.MainActivity"/>
        <activity android:name="com.example.catteranddogger.ProfileActivity" />
    </application>

</manifest>